#map {
    height: 70vh;
}

#people {
    margin-bottom: 50px;
}

.location p {
    margin: 0;
    padding-bottom: 5px;
}

.location h2 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 5px;
}

.location:nth-child(even) {
    background-color: #B2E6FF;
}

.container {
    text-align: center;
}

.jumbotron {
    margin-top: 30px;
}

.search {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.location:nth-child(odd) .search:hover {
    background-color: #f0f0f0;
}

.location:nth-child(even) .search:hover {
    background-color: #42c2ff;
}