body {
    margin-top: 60px;
}

#map {
    min-height: 500px;
    height: 70%;
}

.location {
}

.location p {
    margin: 0;
    padding-bottom: 5px;
}

.location h2 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 5px;
}

.location:nth-child(even) {
    background-color:#B2E6FF;
}

.container {
    text-align: center;
}

.jumbotron {
    margin-top: 30px;
}